@page "/reverse"

<h1>The reversifier</h1>

<p>Enter your name in the textbox</p>

<input type="text" id="input" bind="@Name" />

<p id="output" class="">@Reversed</p>

<button class="btn btn-primary" onclick="@Reversify">Click me</button>

@functions {

    private string Name { get; set; }
    private string Reversed { get; set; }

    void Reversify()
    {
        var input = Name.ToCharArray();

        Array.Reverse(input);
        
        Reversed = new string(input);
    }
}
